
<div class="flex flex-col gap-2">
  <div>
    <h1 class="font-bold text-xl"><i class="fa-solid fa-user"></i> Bienvenu:</h1>
  </div>
  <div class="flex justify-between items-center bg-slate-100 p-4 rounded-md">
    <p class="w-1/2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
       exercitationem molestiae officia laborum cum praesentium!</p>
       <button class="bg-blue-950 p-3 font-medium text-white rounded-lg" type="submit"><i class="fa-solid fa-plus"></i> Chéque</button>
  </div>
</div>
