<div class="flex">
  <div
    class="bg-dark-purple h-screen p-5 pt-8 relative duration-300"
    [ngClass]="sidebarVisible ? 'w-72' : 'w-20'"
  >
    <i
      class="fa-solid text-center fa-arrow-left bg-white text-dark-purple text-2xl w-8 rounded-full absolute -right-3 top-9 border border-dark-purple cursor-pointer"
      [ngClass]="!sidebarVisible ? 'rotate-180' : ''"
      (click)="toggleSidebar()"
    ></i>

    <div class="flex items-center justify-center">
      <i
        class="fa-solid fa-g text-2xl font-bold text-white duration-500"
        [ngClass]="!sidebarVisible ? 'rotate-[360deg]' : ''"
      ></i>
      <h1
        class="text-white origin-left font-medium duration-300"
        [class.hidden]="!sidebarVisible"
      >
        - CHEQUE
      </h1>
    </div>
    <div class="">
      <hr
        class="text-light-white"
        [ngClass]="!sidebarVisible ? 'w-10' : 'w-48'"
      />
    </div>
    <ul class="flex flex-col gap-6 mt-14">
      <li
        class="relative flex justify-center items-center p-2 rounded-md hover:bg-light-white cursor-pointer text-white gap-2"
        *ngFor="let menu of Menus; let last = last; let first = first"
        [ngClass]="{ deconnecter: last, 'bg-light-white': first }"
      >
        <i class="fa-solid" [ngClass]="menu.icon"></i>
        <span
          class="font-medium flex-1 duration-200"
          [class.hidden]="!sidebarVisible"
          >{{ menu.title }}</span
        >
      </li>
    </ul>
  </div>
  <div class="flex flex-col w-full">
    <div class="p-5 bg-dark-purple w-full h-16">
      <span class="text-white font-medium"><i class="fa-solid fa-house"></i> Accueil</span>
    </div>
    <div class="p-8"><router-outlet></router-outlet></div>
  </div>
</div>
